.teams-page {
   .teams-page-header {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 0px 30px rgba(0, 0, 0, 0.1);

      .tab-wrapper {
         max-width: 350px;
      }
   }

   .sticky-nav {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 101;
      animation: mymove 0.25s ease-in-out;

      @keyframes mymove {
         from {
            top: -30px;
         }
         to {
            top: 0px;
         }
      }
   }

   .content-wrapper {
      background: #ffffff;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 0px 30px rgba(0, 0, 0, 0.1);

      .team-counter {
         color: #7f7f7f;
      }
   }
}
